.App {
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px 0px 0px 20px;
  border-radius: 8px;
}

.button:disabled {
  background-color: grey !important;
}

input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  outline: none;
  border-radius: 8px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
